sudo: required
services:
  - docker

before_install:
  - docker build -t react-test -f Dockerfile.dev .

script:
  - docker run react-test npm run test -- --coverage

deploy:
  provider: elasticbeanstalk
  region: "us-west-2"
  app: "react-test"
  env: "react-test-env"
  bucket_name: "xxx-us-west-2-xxxxxx"
  bucket_path: "react-test"
  on:
    branch: master
  access_key_id: $AWS_ACCESS_KEY
  secret_access_key:
    secure: "$AWS_SECRET_KEY"